* {
  border-radius: 0px;
}

.visualizacao {
  padding: 8px;
  margin-top: 65px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.pedidosProntos {
  background-color: #fafafa;
  height: 600px;
  position: relative;
}
.tempoEspera {
  background-color: #492fce;
}
.ultimosPedidos {
  background-color: #401bf7;
}
.footer {
  background-color: #fafafa;
  text-align: center;
}
