* {
  border-radius: 0px;
}

.visualizacao {
  padding: 8px;
  height: 5%;
  width: 100vw;
  margin-top: 65px;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #d1d1d1;
  border-radius: 15px;
}

.pedidosProntos {
  position: relative;
  width: 80vw;
  height: 80vh;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 15px;
}

.footer {
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  text-align: center;
}
