.card {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #043f77;
  margin: 0 auto;
  justify-content: center;
  align-content: center;
  border-radius: 15px;
  border: 8px solid;
}

.inf {
  position: absolute;
  color: #d3d3d3;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80%;
  width: 100%;
  margin: 0 auto;
  border-width: 10px solid black;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #000;
}

.inf b {
  color: red;
  font-size: 6rem;
}
.inf p {
  font-size: 7.75rem;
  font-weight: 1200;
}

.card .sino {
  font-size: 3.5rem;
  color: #c1c348c5;
}
